<html>
  <head>
    <% const params = new URLSearchParams(query) %> <% const page = parseInt(query.page) || 1 %>
    <title>Google Search: <%= query.q %></title>
    <link rel="stylesheet" href="/static/assets/css/2002/search-img.css" />
    <link rel="shortcut icon" href="/static/assets/images/2000/favicon.ico" type="image/x-icon" />
  </head>
  <body bgcolor="#ffffff">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td rowspan="3" valign="top">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td align="right" valign="bottom">
                    <a href="/imghp"><img src="/static/assets/images/2002/res0.gif" alt="Go to Google Image Search Home" border="0" width="110" height="58" /></a>
                  </td>
                  <td valign="bottom">
                    <a href="/imghp"><img src="/static/assets/images/2002/res1.gif" border="0" width="38" height="58" alt="" /></a>
                  </td>
                  <td valign="bottom">
                    <a href="/imghp"><img src="/static/assets/images/2002/res2.gif" border="0" width="52" height="58" alt="" /></a>
                  </td>
                </tr>
                <tr>
                  <td align="right" valign="top" class="h"><b>Image Search</b></td>
                  <td valign="top">
                    <a href="/imghp"><img src="/static/assets/images/2002/res3.gif" border="0" width="38" height="20" alt="" /></a>
                  </td>
                  <td valign="top"><font color="#6f6f6f" style="font-size: 14px">&nbsp;</font></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td nowrap="nowrap">
            <font size="-1"><a href="/nonexistent">Advanced&nbsp;Image&nbsp;Search</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/preferences">Preferences</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/nonexistent">Image&nbsp;Search&nbsp;Help</a>&nbsp;</font>
          </td>
        </tr>
        <tr>
          <td valign="middle">
            <form method="GET" action="/search" <%= preferences.results_tab == "true" ? "target=_blank" : "" %>>
              <input type="text" name="q" size="31" maxlength="2048" value="<%= query.q %>" /><input type="hidden" name="category" value="images"><font size="-1"> <input type="submit" value="Google Search" /></font>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <font size="-1"><a href="/preferences">SafeSearch is <%= preferences.safesearch === "0" ? "Off" : "On" %></a>&nbsp;</font>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td id="t1" class="q" bgcolor="#efefef" width="60" nowrap="nowrap">
            <center>
              <font size="-1"><a id="t1a" class="q" href="/search?q=<%= query.q %>">&nbsp;Web&nbsp;</a></font>
            </center>
          </td>
          <td id="t0" bgcolor="#224499" width="60" nowrap="nowrap">
            <center><font size="-1" color="#ffffff">&nbsp;<b>Images</b>&nbsp;</font></center>
          </td>
          <td width="1" bgcolor="#808080"><img width="1" height="1" alt="" /></td>
          <td width="1" bgcolor="#ffffff"><img width="1" height="1" alt="" /></td>
          <td id="t2" class="q" bgcolor="#efefef" width="60" nowrap="nowrap">
            <center>
              <font size="-1"><a id="t2a" class="q" href="/nonexistent">&nbsp;Groups&nbsp;</a></font>
            </center>
          </td>
          <td width="1" bgcolor="#808080"><img width="1" height="1" alt="" /></td>
          <td width="1" bgcolor="#ffffff"><img width="1" height="1" alt="" /></td>
          <td id="t3" class="q" bgcolor="#efefef" width="60" nowrap="nowrap">
            <center>
              <font size="-1"><a id="t3a" class="q" href="/nonexistent">&nbsp;Directory&nbsp;</a></font>
            </center>
          </td>
          <td width="1" bgcolor="#808080"><img width="1" height="1" alt="" /></td>
        </tr>
      </tbody>
    </table>
    <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#224499">
      <tbody>
        <tr>
          <td bgcolor="#224499" nowrap="nowrap">
            <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#224499">
              <tbody>
                <tr>
                  <td bgcolor="#224499" nowrap="nowrap">
                    <font size="-1" color="#ffffff">Searched images for <b><%= query.q %></b>.&nbsp; </font>
                  </td>
                  <td bgcolor="#224499" align="right" nowrap="nowrap">
                    <font size="-1" color="#ffffff"
                      >Results <b><%= search.page_start %></b> - <b><%= search.result_count %></b> of about <b><%= search.total_result_count.toLocaleString() %></b>. Search took
                      <b><%= search.response_time %></b> seconds.</font
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
      <tbody>
        <% if (!search.results.length) { %>
          <p>Your search - <b><%= query.q %></b> - did not match any images.</p>
          <p>Suggestions</p>
          <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
          </ul>
        <% } else { %>
          <% for (var i=0; i<search.results.length; i++) { %>
            <% if (i % 4 === 0) { %>
              <tr width="25%">
            <% } %>
            <% const result = search.results[i] %>
            <td width="25%" valign="middle">
              <center>
                <a href="<%= result.image %>" target="_blank">
                  <img src="<%= result.thumbnail %>" width="150" border="2">
                </a>
                <br>
                <b><%= result.title.length > 20 ? "..." + result.title.slice(result.title.length - 20) : result.title %></b>
                <br>
                <font size="-1" color="green"><%= result.parsed_url.host %></font>
              </center>
            </td>
            <% if (i % 4 === 3 || i === search.results.length - 1) { %>
              </tr>
            <% } %>
          <% } %>
        <% } %>
      </tbody>
    </table>
    <br clear="all" />
    <div class="n">
      <table border="0" cellpadding="0" width="1%" cellspacing="0" align="center">
        <tbody>
          <tr align="center" valign="top">
            <% var start = page - 4 %>
            <% var end = page + 5 %>
            <% if (page <= 5)  { %>
              <% start = 1 %>
              <% end = 10 %>
            <% } %>
            <% if (page == 1) { %>
              <td valign="bottom" nowrap="nowrap"><font size="-1">Result&nbsp;Page:&nbsp;</font></td>
              <td><img src="/static/assets/images/2000/nav_first.gif" width="18" height="26" alt="" /><br /></td>
            <% } else { %>
              <% params.set("page", page - 1) %>
              <td nowrap="nowrap">
                <a href="/search?<%= params.toString() %>"
                  ><img src="/static/assets/images/2000/nav_previous.gif" width="68" height="26" alt="" border="0" /><br /><span class="b">Previous</span></a
                >
              </td>
            <% } %>
            <% for (var i=start; i<=end; i++) { %>
              <% if (page == i) { %>
              <td><img src="/static/assets/images/2000/nav_current.gif" width="16" height="26" alt="" /><br /><span class="i"><%= i %></span></td>
              <% } else { %>
                <% params.set("page", i) %>
                <td>
                  <a href="/search?<%= params.toString() %>"
                    ><img src="/static/assets/images/2000/nav_page.gif" width="16" height="26" alt="" border="0" /><br /><%= i %></a
                  >
                </td>
              <% } %>
            <% } %>
            <% params.set("page", page + 1) %>
            <td nowrap="nowrap">
              <a href="/search?<%= params.toString() %>"
                ><img src="/static/assets/images/2000/nav_next.gif" width="100" height="26" alt="" border="0" /><br /><span class="b">Next</span></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <center>
      <br clear="all" /><br />
      <table border="0" cellpadding="3" cellspacing="0" align="center">
        <tbody>
          <tr>
            <td nowrap="nowrap">
              <form method="GET" action="/search" <%= preferences.results_tab == "true" ? "target=_blank" : "" %>>
                <font size="-1"
                  ><input type="text" name="q" size="31" maxlength="2048" value="<%= query.q %>" /> <input type="submit" value="Google Search" /></font
                >
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <font size="-1" class="p"
          >Dissatisfied with your search results?
          <a href="/nonexistent" target="_blank">Help us improve.</a></font
        >
      </p>
    </center>
    <center>
      <p></p>
      <hr class="z" />
      <table width="100%" cellpadding="2" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td class="t" align="center">
              <font size="-1"
                ><a href="/">Google&nbsp;Home</a> - <a href="https://ads.google.com/">Advertise&nbsp;with&nbsp;Us</a> - <a href="https://business.google.com/">Search&nbsp;Solutions</a> -
                <a href="https://about.google/products/">Services&nbsp;&amp;&nbsp;Tools</a> - <a href="https://jobs.google.com/">Jobs,&nbsp;Press,&nbsp;&amp;&nbsp;Help</a></font
              >
            </td>
          </tr>
        </tbody>
      </table>
      <br /><font size="-1" class="p">©<%= preferences.copyright %> Google</font>
    </center>
  </body>
</html>
