<% if (option.type === "text")  { %>
  <label><%= option.summary %></label>
  <input name="<%= id %>" maxlength="<%= option.maxlength %>" size="25" value="<%= value %>" autocomplete="off" />
<% } else if (option.type === "number") { %>
  <label><%= option.summary %></label>
  <input type="number" name="<%= id %>" min="<%= option.min %>" max="<%= option.max %>" value="<%= value %>" inputmode="numeric" />
<% } else if (option.type === "checkbox") { %>
  <input type="checkbox" name="<%= id %>" value="true" <%= value == "true" ? "checked" : "" %> />
  <label><%= option.summary %></label>
<% } else if (option.type === "select") { %>
  <label><%= option.summary %></label>
  <select name="<%= id %>">
    <% option.choices.forEach(choice => { %>
      <option value="<%= choice.value %>" <%= value === choice.value ? "selected" : "" %>><%= choice.name %></option>
    <% }) %>
  </select>
<% } %>
<br/>